<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Logovanje</servlet-name>
        <servlet-class>servleti.Logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmServlet</servlet-name>
        <servlet-class>servleti.FilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SedistaServlet</servlet-name>
        <servlet-class>servleti.SedistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NarudzbenicaServlet</servlet-name>
        <servlet-class>servleti.NarudzbenicaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>servleti.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiFilmServlet</servlet-name>
        <servlet-class>servleti.ObrisiFilmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiKorisnikaServlet</servlet-name>
        <servlet-class>servleti.ObrisiKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeServlet</servlet-name>
        <servlet-class>servleti.ListeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiBioskopServlet</servlet-name>
        <servlet-class>servleti.ObrisiBioskopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AzurirajKorisnikaServlet</servlet-name>
        <servlet-class>servleti.AzurirajKorisnikaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AzurirajDetaljServlet</servlet-name>
        <servlet-class>servleti.AzurirajDetaljServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logovanje</servlet-name>
        <url-pattern>/Logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmServlet</servlet-name>
        <url-pattern>/FilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SedistaServlet</servlet-name>
        <url-pattern>/SedistaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NarudzbenicaServlet</servlet-name>
        <url-pattern>/NarudzbenicaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiFilmServlet</servlet-name>
        <url-pattern>/ObrisiFilmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiKorisnikaServlet</servlet-name>
        <url-pattern>/ObrisiKorisnikaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeServlet</servlet-name>
        <url-pattern>/ListeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiBioskopServlet</servlet-name>
        <url-pattern>/ObrisiBioskopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AzurirajKorisnikaServlet</servlet-name>
        <url-pattern>/AzurirajKorisnikaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AzurirajDetaljServlet</servlet-name>
        <url-pattern>/AzurirajDetaljServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
